.mainHome {

  min-height: 180vh;


}

.banner_home {
  position: relative;
  width: 100%;
}

.banner img {
  width: 100%;

}



.container_size {
  text-align: center;
  margin-top: 80px;
  font-size: 30px;

}





.titulo_modelos {
  text-align: center;
  font-size: 40px;
  margin-top: 0px;
  position: relative;
  padding-top: 50px;
}



.modelos {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 50px;
}

.calca {
  text-decoration: none;
  color: white;


}

.camisa {
  text-decoration: none;
  color: white;
}

.bone {
  text-decoration: none;
  color: white;
}


.bone div {
  background-image: url("../../assets/img/bannerBoneHome.png");
  width: 400px;

  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 5px 5px 5px #4F4F4F;

}

.camisa p {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(0, 0, 0);
  height: 20px;
  border-radius: 20px;
  width: 80px;
  background-color: rgb(223, 223, 223);
  padding: 20px;
  color: black;
  box-shadow: 5px 5px 5px #4F4F4F;
}






.calca p {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 20px;
  border-radius: 20px;
  width: 80px;
  background-color: rgb(223, 223, 223);
  padding: 20px;
  border: 2px solid rgb(0, 0, 0);
  color: black;
  box-shadow: 5px 5px 5px #4F4F4F;
}

.bone p {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(0, 0, 0);
  height: 20px;
  border-radius: 20px;
  width: 80px;
  background-color: rgb(223, 223, 223);
  padding: 20px;
  color: black;
  box-shadow: 5px 5px 5px #4F4F4F;
}


.calca div {

  background-image: url("../../assets/img/bannerCalcaHome.png");
  width: 400px;

  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  text-align: center;
  box-shadow: 5px 5px 5px #4F4F4F;
}

.camisa div {
  background-image: url("../../assets/img/bannerCamisaHome.png");
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  box-shadow: 5px 5px 5px #4F4F4F;
}

.modelos img {
  width: 400px;
  height: 400px;

}



.wearrarinlogo {

  align-items: center;
  font-size: 3.4rem;
  font-weight: 750;
  letter-spacing: 5px;
  color: rgb(255, 255, 255);


}



@media (max-width: 768px) {

  /* container */
  .modelos {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  /* LINK precisa ocupar largura */
  .calca,
  .camisa,
  .bone {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  /* CARD */
  .calca div,
  .camisa div,
  .bone div {
    width: 90%;
    max-width: 300px;
    aspect-ratio: 1 / 1;   /* ISSO resolve o card fino */
    height: auto;
    border-radius: 16px;
    position: relative;
  }

  /* BOTÃO */
  .calca p,
  .camisa p,
  .bone p {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 18px;
    font-size: 13px;
    border-radius: 18px;
  }

  .titulo_modelos {
    font-size: 22px;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {

  .calca div,
  .camisa div,
  .bone div {
    position: relative;
  }

  .calca p,
  .camisa p,
  .bone p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 10px 22px;
    font-size: 14px;
    border-radius: 20px;
    background-color: rgb(223, 223, 223);
    color: black;
    border: 2px solid black;
    box-shadow: 5px 5px 5px #4F4F4F;
  }

}
@media (max-width: 768px) {

  /* aumenta a altura da tela/seção */
  .mainHome {
    min-height: 160vh;
  }

  /* se o problema for o bloco dos modelos */
  .container_size {
    min-height: 100vh;
  }

 }
